
@{
    ViewBag.Title = "Body";
    Layout = "~/Views/_Layout.cshtml";
}

@section Footer {
    <div class="footer">
        <div class="change-side-button">Change Side</div>
    </div>    
}
@section NavBar{
    <div class="navbar">
        <ul>
            <li class="dark">
                Dark
            </li>
            <li class="light">
                Light
            </li>
        </ul>
    </div>
}
<div class="main">
    


    <div class="body-part">
        Some person info ...
    </div>
</div>

