
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Home Page</h1>
    <h4>Day2 task. Controller factory implimented</h4>
</body>
</html>
