@model WebApp.Models.RouteInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h2>Controller: @Model.ControllerName</h2>
    <h2>Action: @Model.Action</h2>
    <h2>Id : @Model.Id</h2>
</div>
</body>
</html>
